@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <section>
            <form method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email">Имейл адрес</label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Имейл..." />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Парола</label>
                    <input asp-for="Input.Password" class="form-control" placeholder="Парола..." />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" value="Вход"></button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">Забравена парола?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Нямаш регистрация?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div>
        <section>
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary">Facebook</button>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
